 body{
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-height: 1000px;
 }
 section{
  flex: 1.1;
margin: 50px 10px auto 15px;
border: 2px solid rgb(18, 18, 170) ;
padding: 0px 50px 50px 50px;
}
h1{
  margin-top: 0;
  font-size: 26px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(58, 57, 57);
}
.personal{
  background-color: whitesmoke ;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: rgb(13, 13, 165);
  margin: 20px auto auto auto;
}
p{
  display: flex;
  justify-items: auto;
  margin-top: 0px;
  margin-bottom: 10px;
}
.que{
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
}
.ash{
  color: red;
}
.warning{
  color: red;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 25px;
}
hr{
  border-top: 1px solid rgb(210, 216, 238) ;
}
button{
  height: 35px;
  font-size: 18px;
  margin-bottom: 20px;
}
.mainTable{
  width: 650px;
  height: 600px;
  border: 1px #999999 none;
  border-collapse: collapse;
   font-family: Arial, Helvetica, sans-serif;
}
table{
  width: 100%;
  border-collapse: collapse;
  border: 1px #858484  solid;
  font-size: 20px;
  height: 120px;
}
tr{
  margin: 5px auto 10px auto;
}
.margin{
  margin: 1px 0px auto 0px;
  border-top: 1px midnightblue solid;
}
.outer-container{
  flex: 1;
 background-color:  rgb(6, 92, 6);
  height: 755px;
  margin: 0 0 180px auto;
  padding: 0;
} 
.inner-container{
    width: 454px;
    margin: 20px 20px 20px 100px ;
    height: 600px;
    border-radius: 32px;
    background: linear-gradient(179deg, rgba(252, 252, 252, 0.2) 0.52%, rgba(252, 252, 252, 0) 106.54%);
    padding: 48px;
}
.log{
  color: white;
  margin: 40px auto auto auto;
  font-size: 35px;
  font-weight: 700;
}
.bunk-picture{
  
  width: 480px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}
img{
  object-fit: cover;
  width: 400px;
  height: 430px;
  margin: 10px auto auto 30px;
  border-radius: 32px;
}